@model BooksListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Bookstore</h1>

@*made a partial view for the book data to display*@
 
@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@*Created own TagHelper for page numbers!*@
<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>